.course-details-page {
  display: flex;
  color: #d1d9e6;
}

.course-details-content {
  flex: 1;
  padding: 2rem;
  margin-left: 250px; /* Adjust based on your sidebar width */
}

.course-details-content h1 {
  margin-bottom: 1.5rem;
  color: #3399ff;
}

.course-details-content img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.course-details-content p {
  margin: 0.5rem 0;
  color: white;
}

.enrolled-message {
  margin-top: 1.5rem;
  color: green;
  font-weight: bold;
}
